<div class="columns is-multiline">
    <div class="column is-one-fifth">
        <section class="is-size-7 has-text-danger has-text-centered">
            <figure class="image is-128x128">
                <img src="{{images.small}}" />
                <div>Name: {{name}}</div>
                <div>Price: {{tcgplayer.mid}}</div>
            
                {{#if (eq types.length 1)}}
                    <div>Type: {{types.[0]}}</div>
                {{else if (eq types.length 2)}}
                    <div>Type One: {{types.[0]}}</div>
                    <div>Type Two: {{types.[1]}}</div>
                {{/if}}
        
            </figure>
        </section>
    </div>
</div>
