<script id="card-template" type="text/x-handlebars-template">
    <div class="column is-one-quarter">
        <img src="{{image}}" alt="Card Image">
        <div>Set ID: {{setID}}</div>
        <div>Name: {{name}}</div>
        <div>Sub Types: {{cardSubTypes}}</div>
        <div>Price: ${{price}} USD</div>
        {{!-- need onclick function to transfer this div to my collection --}}
        <button >Add to my Collection</button>
    </div>
</script>