<tr>
    <td class="checkbox">
        <input type="checkbox" class="rowCheckbox"/>
    </td>
    
    <th>{{id}}</th>
    <td>{{name}}</td>
    
    {{#if types.length}}
        {{#if (eq types.length 1)}}
            <td colspan="2">{{types.[0].type.name}}</td>
        {{else}}
            <td>{{types.[0].type.name}}</td>
            <td>{{types.[1].type.name}}</td>
        {{/if}}
    {{else}}
        <td colspan="2">No types available</td>
    {{/if}}
</tr>