<div class="columns">
    <div class="column">
        <form action="/search" method="POST">
            <label for="card_name">Card Name:</label>
            <input class="input is-rounded" type="text" id="card_name" name="card_name" placeholder="Enter a Pok&eacute;mon's Name">

            <label for="card_subtypes">Card Subtype:</label>
            <div class="select is-rounded">
                <select id="card_subtypes" name="card_subtypes">
                    <option>Select Subtype</option>
                    {{#each subtypes}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="grid is-col-min-12">
    {{#if cards}}
        {{#each cards}}
                <div class="cell">
                    <div class="card-container">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{this.images.large}}" alt="{{this.name}}">
                            </div>
                            <div class="card-content">
                                <p>{{this.name}}</p>
                                <p>Selling Price: ${{this.cardmarket.prices.averageSellPrice}}</p>
                                <p>Subtypes:</p>
                                <ul>
                                    {{#each this.subtypes}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        {{/each}}
    {{/if}}
</div>

<script src="./js/pokeRegex.js"></script>